/* NEED TO ORGANIZE SOMEWHERE  - GENERIC FUNCTIONS*/
.element_span
{
    padding: 2% 1% 2% 1%;
}
ul
{
	list-style: square;
	padding: 0 0 0 2%;
}
.gray_background
{
    background: url(../imgs/grey-background1.jpg);
    background-size: contain;
	border-bottom: #474747 solid 5px;
	border-top: #474747 solid 5px;
}
.blue_background
{
	background: url(../imgs/main-background.jpg);
    background-size: contain;
}


/* NAVIGATION BAR */
.navbar
{
	background-color: #474747;
	border-bottom: white 3px solid;
	color: white;
	height: 100px;
	position: fixed;
	width: 100%;
}
.navbar-item
{
	color: white;
}
#custom_header
{
	color: white;
	font-family: 'Crete Round', serif;
	font-size: 16px;
	padding: 15px;
	width: 100%;
}
#logo-box
{
	float: left;
	width: 230px;
}
#media_navbar
{
	background-color: #474747;
	color: white;
	display:none;
	border-bottom: #42a2ff solid 5px;
}
#media_navbar h1
{
	color: white;
	text-align: left;
	border-bottom: white 2px solid;
}

#media_navbar p
{
	color: white;
	font-size: 16px;
}

/* ABOUT ME */
.about_column {
    width: 100%;
    margin: 1%;
    padding: 1%;
    margin-top: 10px;
    border: #474747 5px solid;
}

.white_column{
    background: white;
    padding: 2%;
}

.picture_column{
    background: white;
}

.picture_column img{
    background: white;
}


/* FONTS */
.handwriting{
	font-family: 'gochi hand', cursive;
}

h1{
	color: #474747;
	font-family: 'passion one',cursive;
	font-size: 58px;
	text-align: center;
}

h2{
	color: #474747;
	font-family: 'passion one',cursive;
	font-size: 48px;
	padding: 10px;
	text-align: center;
}

h3{
	font-family: 'gochi hand', cursive;
	font-size: 32px;
	text-align: center;
}

p{
	font-size: 24px;
}

/* RESUME */
#header {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: url(../imgs/homepage-background.jpg) no-repeat top;
    background-size: cover;
    max-width: 100%;
}

#home-intro {
    position: absolute;
    top: 35%;
    left: 49%;
    max-width: 100%;
    transform: translateX(-50%) translateY(-50%);
}

#page{
    z-index: 100;
    position: relative;
    top: 65%;
    width: 100%;
    max-width: 100%;
}


/* personal statement */ 
#main-portrait
{
	position: relative;
	z-index: 1;
}
#main-portrait img
{
	border-radius: 50%;
}
#talk-bubble
{
	background: rgba(192, 192, 192, .75);
	font-size: 16px;
	margin: 0;
	margin: 2.5% 0 0 -10%;
	padding: 1% 1% 2% 15%;
	top: 50%;
}
#talk-bubble h1
{
    font-size: 55px;
    padding: 0 0 0 .5%;
    text-align: left;
}
#typeit
{
	color: #42a2ff;
}


/* SKILLS */
.skills
{
	border: 3px #474747 solid;
	color: white;
	margin: 1%;
}


/* EDUCATION AND EXPERIENCE */
#education-border
{
	border: dotted 8px #474747;
	margin: 2% 3% 2% 3%;
	padding: 2%;
}
#education-span h1
{
	margin: 0 2% 0 2%;
}
#education-heading
{
	background-color: #474747;
	border-bottom: #42a2ff solid 5px;
    padding: 1%;
}
#education-heading h1{
    color:white;
    font-size: 40px;
}
#education-content
{
	background-color: white;
	border: 2px solid rgba(169, 169, 169, .2);
	box-shadow: 0 20px 25px -15px rgba(0, 0, 0, .5);
	font-size: 20px;
	padding: 2%;
}


/* CONTACT & SOCIAL */
.icon-xl
{
	padding-left: 5%;
}
.icon-xl .icon
{
	background-color: #fff;
	border: 6px solid #474747;
	color: #474747;
	font-size: 42px;
	line-height: 52px;
	overflow: visible;
	text-shadow: none;
}
.eclipse
{
	border-radius: 50px;
	height: 63px;
	text-align: center;
}
.icon
{
	color: #fff;
	float: left;
	font-family: 'FontAwesome';
	font-size: 35px;
	height: 65px;
	line-height: 65px;
	margin: 10px;
	overflow: hidden;
	position: relative;
	text-align: center;
	width: 70px;
}
.icon:hover
{
	border-color: #007bb5 !important;
	color: #007bb5 !important;
}
#append-here p
{
	color: #42a2ff;
	text-align: center;
}
#mobile_contact_banner
{
	display: none;
}
  
  
/* MEDIA QUERIES */ 
@media screen and (max-width : 1000px)
{
	body {
		overflow:hidden;
	}
	#header
	{
		display: none;
	}
	#page
	{
		top: 0%;
		max-width:100%
	}
	#media_navbar
	{
		display:block;
	}
	#main-portrait
	{
		margin: 0 15% 0 15%;
	}
	#talk-bubble
	{
		border: 3px #474747 solid;
		margin: 5%;
		padding: 5%;
	}
	#talk-bubble h1
	{
		font-size: 35px!important;
	}
	#education-border
	{
		border: none;
		padding: 0;
	}
	#education-heading h1
	{
		font-size: 30px;
	}
	#education-content
	{
		font-size: 14px;
		padding: 5%;
	}
	#social_span
	{
		display: none;
	}
	#mobile_contact_banner
	{
		display: block;
	}
	#mobile_contact_info
	{
		background: white;
		border: #474747 solid 3px;
		margin: 20px;
		padding: 5%;
		text-align: center;
	}
}
    
