<head>
  <!-- CSS Sheets !-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
  <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css" />

  <!-- Fonts !-->
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap" rel="stylesheet">
</head>
<header>
  <nav class="navbar">
    <div class="navbar-brand">
      <h1>Halbur Family Recipes</h1>
    </div>
    <div class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            Recipes
          </a>
          <div class="navbar-dropdown">
            <a class="navbar-item">
              All
            </a>
            <a class="navbar-item">
              ''
            </a>
            <a class="navbar-item">
              ''
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
