/* 
    NEW CSS FILE THAT I CREATED TO TRANSFER CUSTOM DESIGN TO CLEAN UP/ORGANIZE
    BECAUSE THE OTHER ONE IS GROSS, UNORGANIZED, AND OLD.
*/

body {
    max-width: 100%;
    background: white;
}

/* NAVIGATION BAR */

.navbar{
    background-color: #474747;
    color: white;
    height: 130px;
}

.navbar-end{
    margin-right: 30px;
}

.navbar-item{
    color: white;
    font-size: 22px;
}


/* BACKGROUND CLASSES */
  
.gray_background {
    background: url(../imgs/grey-background1.jpg);
}


/* ABOUT ME */
.about_column {
    width: 100%;
    margin: 1%;
    padding: 1%;
    margin-top: 10px;
    border: #474747 5px solid;
}

.white_column{
    background: white;
    padding: 2%;
}

.picture_column{
    background: white;
}

.picture_column img{
    background: white;
}

/* FONTS */
h1 {
    color: #474747;
    text-align: center;
    font-family: 'Passion One',cursive;
    font-size: 58px;
}

h2 {
    padding: 10px;
    color: #474747;
    text-align: center;
    font-family: 'Passion One',cursive;
    font-size: 48px;
}

h3{
    font-family: 'Gochi Hand', cursive;
    font-size: 32px;
    text-align: center;
}

p{
    font-size: 24px;
}

.handwriting{
    font-family: 'Gochi Hand', cursive;
}

/* MEDIA QUERIES */ 
@media only screen and (max-width : 1020px) {
    .about_column{
        margin:0;
        border:none;
        
    }
    .white_column{
        padding: 50px;
        border-top:5px #474747 solid
    }
    .picture_column{
        border-top:5px #474747 solid;
        padding: 0;
    }
}