<header>
    <head>
        <!--BULMA-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
        <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

        <!--JAVASCRIPT-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>

        <!--JAVASCRIPT PACKAGES-->
        <script src="https://cdn.jsdelivr.net/jquery.typeit/4.4.0/typeit.min.js"></script>

        <!--PERSONALIZE CSS FILE-->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/update_style.css') }}">
        <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/styling.css') }}"> -->

        <!--SCROLL-->
        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

        <!--FONTS-->
        <link href="https://fonts.googleapis.com/css?family=Passion+One" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap" rel="stylesheet">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" media="screen" /> 
    </head>

    <nav class="navbar" id="custom_header" role="navigation" aria-label="main navigation" style="z-index:1000!important;">
        <div class="navbar-brand">
            <div id ="logo-box">
            <h1 style="color: white !important; font-size:32px!important; margin-left:2px!important; margin-top:10px!important">Michaela Roberts</h1>
            </div>
        </div>
        <div class="navbar-end">
            <div class="navbar-item"><a href="{{ url_for('index') }}" class="navbar-item menu_item"><p>Resume</p></a></div>
            <div class="navbar-item"><a href="{{ url_for('about_me') }}" class="navbar-item menu_item"><p>About Me</p></a></div>
        </div>
    </nav>   
</header>
