<div style = "position: fixed;">{% include "base.html"%}</div>
<title>Michaela Roberts</title>
<meta content="width=device-width, initial-scale=1" name="viewport"/>

<body>

    <div id="header">
        <div id="home-intro"><h1 style="color:white; text-align:center;">Resume</h1><br></div>
    </div>
    
    
    <div id="page">

        <!-- personal statement-->
        <div class = "element_span" id = "personal_statement_span">
            <div class = "columns">
                <div id="main-portrait" class="column is-2">
                    <img src="{{ url_for('static', filename='imgs/my-picture.jpg') }}" alt="My Portrait">
                </div>
                <div class="column">
                    <div id="talk-bubble">
                        <h1>I am a <span id="typeit"></span></h1>
                        <ul>
                            <li>I am a Data Engineer at Meredith Corporation in Des Moines, Iowa. </li>
                            <li>I have work experience in ETL since October 2017. </li>
                            <li>I <u>LOVE</u> programming in Python.</li>
                            <li>On a day-to-day basis I use Python, SQL, AWS, Snowflake, and Teradata </li>
                            <li>As a hobby, I like to do full-stack development, allowing me to have additional skills in back-end and front-end development.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>


      <!-- skills !-->
      <div class= "element_span gray_background">
          <h2>Career Related Skills</h2><br>
          <div class = 'column'>
              <div class = 'columns'>
                  <div class = 'column skills' data-aos="slide-up"><h3>Python</h3></div>
                  <div class = 'column skills' data-aos="flip-left" ><h3>SQL</h3></div>
                  <div class = 'column skills' data-aos="slide-up"><h3>HTML</h3></div>
                  <div class = 'column skills' data-aos="zoom-in"><h3>CSS</h3></div>
                  <div class = 'column skills' data-aos="fade-right"><h3>Javascript</h3></div>
                  <div class = 'column skills' data-aos="fade-down"><h3>JQuery</h3></div>
              </div>
          </div>
          <div class = 'column'>
              <div class = 'columns'>
                  <div class = 'column skills' data-aos="flip-right"><h3>Teradata</h3></div>
                  <div class = 'column skills' data-aos="zoom-out"><h3>Snowflake</h3></div>
                  <div class = 'column skills' data-aos="slide-right"><h3>Oracle</h3></div>
                  <div class = 'column skills' data-aos="fade-up"><h3>DynamoDb</h3></div>
                  <div class = 'column skills' data-aos="slide-left"><h3>Git</h3></div>
              </div>
          </div>
          <div class = 'column'>
              <div class = 'columns'>
                  <div class = 'column skills' data-aos="fade-up"><h3>Linux</h3></div>
                  <div class = 'column skills' data-aos="flip-down"><h3>Github</h3></div>
                  <div class = 'column skills' data-aos="slide-right"><h3>Bitbucket</h3></div>
                  <div class = 'column skills' data-aos="zoom-in"><h3>AWS</h3></div>
                  <div class = 'column skills' data-aos="fade-left"><h3>JAMS</h3></div>
                  <div class = 'column skills' data-aos="slide-up"><h3>Flask</h3></div>
              </div>
          </div>
      </div>


      <!-- education and experience !-->
      <div class= "element_span" id="education-span">
          <div id="education-border">
              <h1>Education and Experience</h1>
              <div class = 'column'> 

                  <div class="column">
                      <div id="education-heading">
                          <h1>Meredith Corporation</h1>
                          <h1>Data Engineer</h1>
                      </div>
                      <div id="education-content">
                          <strong>Location: </strong>Des Moines, Iowa<br>
                          <strong>Employement: </strong>October 2017 - Present<br>
                          <strong>Highlights: </strong><br>
                          <ul>
                              <li>Designs, develops and maintains simple to complex python programs that automates data processing</li>
                              <li>Programs scripts to collects, alters, and loads data from APIs and/or vendors</li>
                              <li>Integrates consumer, digital, and other business data into Snowflake, Oracle, and Teradata</li>
                              <li>Maintains, supports, and improves current infrastructure using Python</li>
                              <li>Developed and maintains a web application to analyze and visualize production jobs, business and business analyst reports and servers</li>
                          </ul>
                      </div>
                  </div>

                <div class = "column">
                    <div id="education-heading">
                        <h1>Iowa State University</h1>
                        <h1>Bachelor of Science</h1>
                    </div>
                    <div id="education-content">
                        <strong>Degree: </strong>Management Information Systems<br>
                        <strong>Emphasis: </strong>Programming<br>
                        <strong>Attendance: </strong>August 2014 - December 2017<br>
                        <strong>Program Highlights: </strong><br>
                        <ul>
                            <li>Business Programming (Java and Python)</li>
                            <li>Database Management (SQL and Oracle)</li>
                            <li>Data Analytics (Tableau)</li>
                            <li>Project Management (Jira and Agile)</li>
                            <li>Business: Management, Accounting, Marketing, and Finance</li>
                        </ul>
                    </div>
                </div>
              </div>
          </div>
      </div>


    <div class= "element_span gray_background" id = 'social_span'>
        <h1>Contact Information</h1>
        <div class="columns">
            <!-- github -->
            <div class="column icon-xl" id="GH"><a href="https://github.com/mhalbur" target="blank"><div class="icon github eclipse">&#xf113;</div></a></div>
            <!-- Linkedin -->
            <div class="column icon-xl" id="LI"><a href="https://www.linkedin.com/in/halbur-roberts/" target="blank"><div class="icon linkedin eclipse">&#xf0e1;</div></a></div>
            <!-- address -->
            <div class="column icon-xl" id="YT"><a href="#"><div class="icon address eclipse">&#xf015;</div></a></div>
            <!-- email-->
            <div class="column icon-xl" id="IG"><a href="#"><div class="icon email eclipse">&#xf0e0;</div></a></div>
        </div>
        <div id="append-here"></div>
    </div>

    <div class = "element_span gray_background" id="mobile_contact_banner">
      <div id="mobile_contact_info">
        <h2>Contact Me</h2>
        <p><b>Github</b><br><a href = "https://github.com/mhalbur">mhalbur</a></p>
        <p><b>LinkedIn</b><br><a href = "https://www.linkedin.com/in/halbur-roberts/">halbur-roberts</a></p>
        <p><b>Email:</b><br>halbur.roberts@gmail.com</p>
        <p><b>Address:</b><br>Des Moines, Iowa</p>
      </div>
    </div>

  </div>
</body>


<footer>
  <script>
    $(document).ready(function() {

      /*personal statement javascript*/
      $('#typeit').typeIt({
        strings: ["Data Engineer.", "debugger.", "back-end developer.", "front-end developer.", "programmer.", "girl in code."],
        speed: 50,
        breakLines: false,
        autoStart: false
      });


      /*skills javascript*/
      AOS.init({
        duration: 800
      });

      function getRandomColor(){
        h = 193;
        s = 183;
        l = Math.floor(Math.random() * 100);
        if (l > 35) {
          l = l - 10;
        }
        color = 'hsl(' + h + ', ' + s + '%, ' + l + '%)';
        return color;
      }

      var get_skills = document.getElementsByClassName('skills');

      for (var i = 0; i < get_skills.length; ++i) {
        var item = get_skills[i];  
        item.style["background-color"] = getRandomColor();
      }


      /* contact/social javascript */
      $('#append-here').append("<h3>Hover over the icons for more information.</h3>");

      var border_color = "#125688",
          before = '<div class="column">';
          after = '</div>';

      $(".icon-xl").hover(
        function() {
          $('#append-here').children().remove();

          switch ($(this).attr('id')) {

              // github
              case "GH":
                $('#append-here').append(before + '<h2><u>GitHub</u></h2><h3>mhalbur</h3>' + after);
                $('#append-here').css('color', border_color);
                break;

              // LinkedIn
              case "LI":
                $('#append-here').append(before + '<h2><u>LinkedIn</u></h2><h3>halbur-roberts</h3>' + after);
                $('#append-here').css('color', border_color);
                break;

              // email
              case "IG":
                $('#append-here').append(before + '<h2><u>Email</u></h2><h3>halbur.roberts@gmail.com</h3>' + after);
                $('#append-here').css('color', border_color);
                break;

              // address
              case "YT":
                $('#append-here').append(before + '<h2><u>Address</u></h2><h3>Des Moines, Iowa</h3>' + after);
                $('#append-here').css('color', border_color);
                break;

              // Default
              default:
                $('#append-here').append("");
          }
        },
        function() {
          // Do nothing.
        });
    });
  </script>
</footer>
