<!DOCTYPE html>
<html>
<head>
	<!--Bootstrap !-->
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
	<meta content="width=device-width, initial-scale=1" name="viewport">
	<title>Michaela Roberts</title>
</head>
<body class="gray_background">
	{% include "base.html" %}
	<div class="columns is-fullhd">
		<div class="column about_column white_column">
			<h2><u>QUICK INTRODUCTION</u></h2>
			<p class="handwriting">I married my high school sweetheart and best friend and we have been tackling life together for over seven years. We have three dogs - three, extremely hyper Australian Shepherds. At this time, we are focused on our building our careers, settling in to "adult" life, and traveling.</p>
		</div>
		<div class="column about_column picture_column"><img src="../static/imgs/about_me/about_me.jpg"></div>
	</div>
	<div class="columns is-fullhd">
		<div class="column about_column picture_column"><img src="../static/imgs/about_me/running.jpg"></div>
		<div class="column about_column white_column">
			<h2><u>RUNNING MADE ME STRONG</u></h2>
			<p><i>"Running teaches us to keep moving forward, one step at a time, expecially in the most painful moments.""</i><br>
      <br>
      <p class="handwriting">Read my story!</p>
		</div>
  </div>
  <div class="columns is-fullhd">
		<div class="column about_column white_column">
			<h2><u>FAMILY</u></h2>
			<p class="handwriting" style="text-align:center;">The most important roles</p>
			<ul>
				<li>
					<h3>Wife</h3>
				</li>
				<li>
					<h3>Daughter</h3>
				</li>
				<li>
					<h3>Sister</h3>
				</li>
				<li>
					<h3>Aunt</h3>
				</li>
			</ul>
		</div>
		<div class="column about_column picture_column"><img src="../static/imgs/about_me/family.jpg"></div>
  </div>
  <div class="columns is-fullhd">
    <div class="column about_column picture_column"><img src="../static/imgs/about_me/basketball.jpg"></div>
		<div class="column about_column white_column">
			<h2><u>I LOVE BASKETBALL</u></h2>
			<p class="handwriting">From the kid that spent day after day, year after year shooting, dribbling, and sleeping with her basketball to an adult who is now an avid basketball fan.</p>
      <br>
      <p class="handwriting"><b><u>FAVORITE BASKETBALL TEAMS</u></b></p>
			<ul>
				<li class="handwriting" style="font-size:22px"><b>NBA:</b> Dallas Mavericks</li>
				<li class="handwriting" style="font-size:22px"><b>WNBA:</b> Seattle Storm</li>
				<li class="handwriting" style="font-size:22px"><b>College:</b> Iowa State Cyclones</li>
				<li class="handwriting" style="font-size:22px"><b>Favorite players:</b> Kristaps Porzingis, Maxi Kleber, and Breanna Stewart</li>
      </ul>
		</div>
	</div>
	<div class="columns is-fullhd">
		<div class="column about_column white_column">
      <h2><u>What makes me ME</u></h2>
        <li class="handwriting" style="font-size:22px">I am a proud NERD</li>
        <li class="handwriting" style="font-size:22px">I love to travel: mountains, beaches, and history</li>
        <li class="handwriting" style="font-size:22px">I love to hike and find beautiful places</li>
        <li class="handwriting" style="font-size:22px">Reading, basketball, running, and video games</li>
        <li class="handwriting" style="font-size:22px">I love Mexican food.</li>
        <li class="handwriting" style="font-size:22px">Third Degree Black Belt</li>
        <li class="handwriting" style="font-size:22px">I love coding in Python.</li>
    </div>
    <div class="column about_column picture_column"><img src="../static/imgs/about_me/travelling.jpg"></div>
  </div>
	<div class="columns is-fullhd">
		<div class="column about_column picture_column"><img src="../static/imgs/about_me/friends.jpg"></div>
		<div class="column about_column white_column">
			<h2><u>FUN FACTS</u></h2>
			<ul>
				<li>
					<b class="handwriting" style="font-size:22px">Favorite Show(s):</b>
					<p class="handwriting">Way too many... Brooklyn Nine-Nine, How I Met Your Mother, Game of Thrones, Lucifer, Witcher, and Outlander</p>
				</li>
				<li>
					<b class="handwriting" style="font-size:22px">Favorite Music:</b>
					<p class="handwriting">Alternative - Young the Giant, Jukebox the Ghost, American Authors, Bleechers</p>
				</li>
				<li>
					<b class="handwriting" style="font-size:22px">Favorite Video Game(s):</b>
					<p class="handwriting">NBA2k, Horzion Zero Dawn, Witcher3, Civ, and Skyrim</p>
				</li>
			</ul>
		</div>
  </div>
  <div class="columns is-fullhd">
		<div class="column about_column white_column">
      <h2><u>Fun Facts Cont'd</u></h2>
      <ul>
        <li class="handwriting" style="font-size:22px">
          <b>Favorite Books:</b>
          <p class="handwriting">Fantasy all the way</p>
        </li>
        <li class="handwriting" style="font-size:22px">
          <b>Favorite Place:</b>
          <p class="handwriting">Alaska or Victoria British Columbia</p>
        </li>
        <li class="handwriting" style="font-size:22px">
          <b>Favorite Movies:</b>
          <p class="handwriting">Marvel (Black Widow and Hawkeye fan), comedies, and those cheesy romance ones</p>
        </li>
      </ul>
    </div>
    <div class="column about_column picture_column"><img src="../static/imgs/about_me/this_is_me.jpg"></div>
  </div>



</body>


<!-- <h1>About Me</h1>
<section class="col-xs-4">
  <img src="../static/imgs/about_me.jpg" style="border: solid 6px #474747; height:80%; margin: 5%;"></img>
</section>
<section class="col-xs-8">
  <div class="white-background" style="background-color:rgba(255,255,255,.65); border: solid 6px #474747; margin: 5%;">
    <h1>Personal Bio</h1>
    <p style="padding: 2%;">
      I married my high school sweetheart and best friend two years ago and we have been tackling life together for over seven years.
      We are the classic millenials with our love for dogs. In fact, we have three dogs - all (very hyper) Australian Shepherds. At this time,
      we are focused on our building our careers, settling in to "adult" life, and traveling.
      <br><br>
      Outside of my career, in my spare time, you'll find me reading, running, hiking, programming, watching basketball, or playing video games.
      <br>
    </p>
    <h1> Random Fun Facts </h1>
    <ul>
      <li><b>Favorite Show(s): </b>Way too many... Brooklyn Nine-Nine, How I Met Your Mother, Game of Thrones, Lucifer, Witcher, and Outlander</li>
      <li><b>Favorite Music:</b>Alternative - Young the Giant, Jukebox the Ghost, American Authors, Bleechers</li>
      <li><b>Favorite Video Game(s): </b> NBA2k, Horzion Zero Dawn, Witcher3, Civ, and Skyrim</li>
      <li><b>Favorite Books: </b> Fantasy</li>
      <li><b>Favorite Basketball Teams: </b>
        <ul>
          <li><b>NBA: </b>Dallas Mavericks</li>
          <li><b>WNBA: </b>Seattle Storm </li>
          <li><b>College: </b>Iowa State Cyclones</li>
          <li><b>Favorite players: </b>Kristaps Porzingis, Maxi Kleber, and Breanna Stewart</li>
        </ul>
      </li>
      <li><b>Favorite Place I Have Visisted: </b>Alaska</li>
      <li><b>Go-To Icebreaker: </b>I am a third degree black-belt</li><br>
    </ul>
  </div>
</section> -->
